{% extends './index.html' %}

{% block title %}Registrar medicamentos{% endblock title %}

{% block content %}
{% if data %}
<table class="table mt-5">
    <thead>
        <th>HC</th>
        {% if session['rol'] == 'Medico' %}
        <th>Paciente</th>
        {% else %}
        <th>Medico</th>
        {% endif %}
        <th>Fecha</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        {% for receta in data.recetas %}
        <tr>
            <th>{{receta.codigo_paciente.historial_clinico}}</th>
            {% if session['rol'] == 'Medico' %}
            <th>{{receta.codigo_paciente.nombres}} {{receta.codigo_paciente.apellidos}}</th>
            {% else %}
            <th>{{receta.codigo_medico.nombres}} {{receta.codigo_medico.apellidos}}</th>
            {% endif %}
            <th>{{receta.fecha}}</th>
            <th>
                <a class="button is-link" href="{{ url_for('recuperar_receta', codigo=receta.codigo) }}">Ver</a>
                {% if session['rol'] == 'Medico' %}
                <a id="btn-delete" class="button is-danger"
                    href="{{ url_for('eliminar_receta', codigo=receta.codigo) }}">Eliminar</a>
                {% endif %}
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock scripts %}

{% endblock content %}