{% extends './index.html' %}

{% block title %}Listado Medicamentos{% endblock title %}

{% block content %}
{% if data %}
<a class="button is-success is-outlined" href="{{ url_for('registrar_medicamento') }}">Registrar nuevo medicamento</a>
<table class="table mt-5">
    <thead>
        <th>Nombre</th>
        <th>Registro sanitario</th>
        <th>Fecha elaboracion</th>
        <th>Fecha vencimiento</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        {% for medicamento in data.medicamentos %}
        <tr>
            <td>{{medicamento.nombre}}</td>
            <td>{{medicamento.registro_sanitario}}</td>
            <td>{{medicamento.fecha_elaboracion}}</td>
            <td>{{medicamento.fecha_vencimiento}}</td>
            <td>
                <a class="button is-warning"
                    href="{{ url_for('editar_medicamento', codigo=medicamento.codigo) }}">Editar</a>
                <a class="button is-danger" id="btn-delete"
                    href="{{ url_for('eliminar_medicamento', codigo=medicamento.codigo) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock scripts %}
{% endblock content %}