{% extends './index.html' %}

{% block title %}Registrar medico{% endblock title %}

{% block content %}
<div class="card mt-4">
    <div class="card-content">

        <p class="card-header-title is-centered">
            Crear medico
        </p>
        <form action="/registrar_medico" method="post">
            <div class="field">
                <label class="label" for="nombres">Nombres</label>
                <div class="control">
                    <input class="input" type="text" name="nombres" id="nombres">
                </div>
            </div>
            <div class="field">
                <label class="label" for="apellidos">Apellidos</label>
                <div class="control">
                    <input class="input" type="text" name="apellidos" id="apellidos">
                </div>
            </div>
            <div class="field">
                <label for="correo" class="label">Correo</label>
                <div class="control">
                    <input class="input" type="email" name="correo" id="correo">
                </div>
            </div>
            <div class="field">
                <label for="especialidad" class="label">Especialidad</label>
                <div class="control">
                    <input class="input" type="text" name="especialidad" id="especialidad">
                </div>
            </div>
            <div class="field">
                <label for="clave" class="label">Constraseña</label>
                <div class="control">
                    <input class="input" type="password" name="clave" id="clave">
                </div>
            </div>

            <div class="field is-grouped is-grouped-centered mt-3">
                <p class="control">
                    <button class="button is-info is-rounded" type="submit">Registrar</button>
                </p>
            </div>

        </form>
    </div>
</div>
{% endblock content %}