<nav>
    <h2>{{session['rol']}}</h2>
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Inicio</a>
        </li>
        {% if session['rol'] == 'Administrador' %}
        <li>
            <a href="{{ url_for('registrar_medico') }}">Registrar medico</a>
        </li>
        {% endif %}
        {% if session['rol'] == 'Administrador' or session['rol'] == 'Medico' %}
        <li>
            <a href="{{ url_for('registrar_paciente') }}">Registrar paciente</a>
        </li>
        <li>
            <a href="{{ url_for('lista_medicamentos') }}">Medicamentos</a>
        </li>
        {% endif %}
        <li>
            <a href="{{ url_for('logout') }}">Cerrar sesion</a>
        </li>
    </ul>
</nav>